In [1]:
librarian::shelf(tidyverse, tidymodels, kableExtra, patchwork, 
                skimr, gridExtra, janitor, corrplot, scales,
                GGally, car, forcats, performance, glmmTMB, splines, mgcv, DHARMa)

In [2]:
df <- read_csv("data/weatherAUS.csv")

Rows: 145460 Columns: 23
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr   (6): Location, WindGustDir, WindDir9am, WindDir3pm, RainToday, RainTom...
dbl  (16): MinTemp, MaxTemp, Rainfall, Evaporation, Sunshine, WindGustSpeed,...
date  (1): Date

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [3]:
df %>% 
  head() %>% 
  kable()

|Date       |Location | MinTemp| MaxTemp| Rainfall| Evaporation| Sunshine|WindGustDir | WindGustSpeed|WindDir9am |WindDir3pm | WindSpeed9am| WindSpeed3pm| Humidity9am| Humidity3pm| Pressure9am| Pressure3pm| Cloud9am| Cloud3pm| Temp9am| Temp3pm|RainToday |RainTomorrow |
|:----------|:--------|-------:|-------:|--------:|-----------:|--------:|:-----------|-------------:|:----------|:----------|------------:|------------:|-----------:|-----------:|-----------:|-----------:|--------:|--------:|-------:|-------:|:---------|:------------|
|2008-12-01 |Albury   |    13.4|    22.9|      0.6|          NA|       NA|W           |            44|W          |WNW        |           20|           24|          71|          22|      1007.7|      1007.1|        8|       NA|    16.9|    21.8|No        |No           |
|2008-12-02 |Albury   |     7.4|    25.1|      0.0|          NA|       NA|WNW         |            44|NNW        |WSW        |            4|           22|          44|          25|      1010.6|      1007.8|       NA|       NA|    17.2|    24.3|No        |No           |
|2008-12-03 |Albury   |    12.9|    25.7|      0.0|          NA|       NA|WSW         |            46|W          |WSW        |           19|           26|          38|          30|      1007.6|      1008.7|       NA|        2|    21.0|    23.2|No        |No           |
|2008-12-04 |Albury   |     9.2|    28.0|      0.0|          NA|       NA|NE          |            24|SE         |E          |           11|            9|          45|          16|      1017.6|      1012.8|       NA|       NA|    18.1|    26.5|No        |No           |
|2008-12-05 |Albury   |    17.5|    32.3|      1.0|          NA|       NA|W           |            41|ENE        |NW         |            7|           20|          82|          33|      1010.8|      1006.0|        7|        8|    17.8|    29.7|No        |No           |
|2008-12-06 |Albury   |    14.6|    29.7|      0.2|          NA|       NA|WNW         |            56|W          |W          |           19|           24|          55|          23|      1009.2|      1005.4|       NA|       NA|    20.6|    28.9|No        |No           |

In [4]:
df %>% 
  tail() %>% 
  kable()

|Date       |Location | MinTemp| MaxTemp| Rainfall| Evaporation| Sunshine|WindGustDir | WindGustSpeed|WindDir9am |WindDir3pm | WindSpeed9am| WindSpeed3pm| Humidity9am| Humidity3pm| Pressure9am| Pressure3pm| Cloud9am| Cloud3pm| Temp9am| Temp3pm|RainToday |RainTomorrow |
|:----------|:--------|-------:|-------:|--------:|-----------:|--------:|:-----------|-------------:|:----------|:----------|------------:|------------:|-----------:|-----------:|-----------:|-----------:|--------:|--------:|-------:|-------:|:---------|:------------|
|2017-06-20 |Uluru    |     3.5|    21.8|        0|          NA|       NA|E           |            31|ESE        |E          |           15|           13|          59|          27|      1024.7|      1021.2|       NA|       NA|     9.4|    20.9|No        |No           |
|2017-06-21 |Uluru    |     2.8|    23.4|        0|          NA|       NA|E           |            31|SE         |ENE        |           13|           11|          51|          24|      1024.6|      1020.3|       NA|       NA|    10.1|    22.4|No        |No           |
|2017-06-22 |Uluru    |     3.6|    25.3|        0|          NA|       NA|NNW         |            22|SE         |N          |           13|            9|          56|          21|      1023.5|      1019.1|       NA|       NA|    10.9|    24.5|No        |No           |
|2017-06-23 |Uluru    |     5.4|    26.9|        0|          NA|       NA|N           |            37|SE         |WNW        |            9|            9|          53|          24|      1021.0|      1016.8|       NA|       NA|    12.5|    26.1|No        |No           |
|2017-06-24 |Uluru    |     7.8|    27.0|        0|          NA|       NA|SE          |            28|SSE        |N          |           13|            7|          51|          24|      1019.4|      1016.5|        3|        2|    15.1|    26.0|No        |No           |
|2017-06-25 |Uluru    |    14.9|      NA|        0|          NA|       NA|NA          |            NA|ESE        |ESE        |           17|           17|          62|          36|      1020.2|      1017.9|        8|        8|    15.0|    20.9|No        |NA           |

In [5]:
df_clean <- df %>%
  clean_names() %>%
  mutate(
    date = as.Date(date),
    month = as.factor(month(date)),
    day = as.factor(wday(date, label = TRUE))
  ) %>%
  filter(!is.na(rainfall))

In [6]:
# Check for duplicates

duplicates <- df_clean %>% 
  get_dupes()

print(paste("Number of duplicate rows: ", nrow(duplicates)))

No variable names specified - using all columns.

No duplicate combinations found of: date, location, min_temp, max_temp, rainfall, evaporation, sunshine, wind_gust_dir, wind_gust_speed, ... and 16 other variables
[1] "Number of duplicate rows:  0"

In [7]:
# Day Distribution

day_tab <- df_clean %>% 
  filter(rainfall > 0) %>% 
  tabyl(day) %>% 
  adorn_pct_formatting() %>% 
  arrange(desc(n))

print(day_tab)

 day    n percent
 Tue 7508   14.7%
 Mon 7480   14.6%
 Fri 7378   14.4%
 Wed 7342   14.4%
 Thu 7314   14.3%
 Sat 7057   13.8%
 Sun 7040   13.8%

In [8]:
# Month distribution

month_tab <- df_clean %>% 
  filter(rainfall > 0) %>% 
  tabyl(month) %>% 
  adorn_pct_formatting() %>% 
  arrange(desc(n))

print(month_tab)

 month    n percent
     6 5448   10.7%
     7 5250   10.3%
     5 4937    9.7%
     8 4704    9.2%
     3 4444    8.7%
     9 4234    8.3%
     4 4001    7.8%
    10 3770    7.4%
    11 3760    7.4%
     1 3702    7.2%
    12 3562    7.0%
     2 3307    6.5%

In [9]:
cat("\nCross-tabulation: Month vs Day:\n")
cross_tab <- df_clean %>% 
  filter(rainfall > 0) %>% 
  tabyl(month, day) %>% 
  adorn_totals(c("row", "col"))
print(cross_tab)

Cross-tabulation: Month vs Day:
 month  Sun  Mon  Tue  Wed  Thu  Fri  Sat Total
     1  536  570  514  482  493  567  540  3702
     2  480  530  469  466  443  471  448  3307
     3  636  645  639  592  662  644  626  4444
     4  578  597  566  604  579  515  562  4001
     5  710  722  765  714  678  681  667  4937
     6  766  801  804  797  760  753  767  5448
     7  694  717  728  796  773  818  724  5250
     8  612  702  694  679  689  687  641  4704
     9  516  571  616  639  648  659  585  4234
    10  507  606  579  550  517  456  555  3770
    11  556  526  554  480  538  575  531  3760
    12  449  493  580  543  534  552  411  3562
 Total 7040 7480 7508 7342 7314 7378 7057 51119

In [10]:
print(paste("Total Missing values: ", sum(is.na(df))))

[1] "Total Missing values:  343248"

In [12]:
missing_tab <- df_clean %>%
  summarise(across(everything(), ~ mean(is.na(.)) * 100)) %>%
  pivot_longer(everything(), names_to = "column", values_to = "pct_missing") %>%
  arrange(desc(pct_missing))

missing_tab %>% 
  kable()

|column          | pct_missing|
|:---------------|-----------:|
|sunshine        |  47.6937250|
|evaporation     |  42.5375706|
|cloud3pm        |  39.9960619|
|cloud9am        |  37.5044832|
|pressure3pm     |   9.8404349|
|pressure9am     |   9.8031632|
|wind_dir9am     |   6.8840147|
|wind_gust_dir   |   6.8390073|
|wind_gust_speed |   6.7968129|
|wind_dir3pm     |   2.6716081|
|humidity3pm     |   2.5527606|
|temp3pm         |   1.9310966|
|wind_speed3pm   |   1.8614758|
|humidity9am     |   1.0928347|
|rain_tomorrow   |   0.9929746|
|wind_speed9am   |   0.7672347|
|temp9am         |   0.4817193|
|min_temp        |   0.3424778|
|max_temp        |   0.3305227|
|date            |   0.0000000|
|location        |   0.0000000|
|rainfall        |   0.0000000|
|rain_today      |   0.0000000|
|month           |   0.0000000|
|day             |   0.0000000|

In [13]:
# Obtain the summary statistics for the target variable

rainfall_stats <- df_clean %>% 
  summarise(
    n = n(),
    mean = mean(rainfall),
    median = median(rainfall),
    sd = sd(rainfall),
    min = min(rainfall),
    max = max(rainfall),
    q25 = quantile(rainfall, 0.25),
    q75 = quantile(rainfall, .75),
    iqr = IQR(rainfall),
    n_zeros = sum(rainfall == 0),
    pct_zeros = mean(rainfall == 0) * 100,
    n_large = sum(rainfall > 100),
    pct_large = mean(rainfall > 100) * 100,
    skewness = moments::skewness(rainfall),
    kurtosis = moments::kurtosis(rainfall)
  )

t(rainfall_stats) %>% 
  kable()

|          |             |
|:---------|------------:|
|n         | 1.421990e+05|
|mean      | 2.360918e+00|
|median    | 0.000000e+00|
|sd        | 8.478060e+00|
|min       | 0.000000e+00|
|max       | 3.710000e+02|
|q25       | 0.000000e+00|
|q75       | 8.000000e-01|
|iqr       | 8.000000e-01|
|n_zeros   | 9.108000e+04|
|pct_zeros | 6.405108e+01|
|n_large   | 1.510000e+02|
|pct_large | 1.061892e-01|
|skewness  | 9.836122e+00|
|kurtosis  | 1.811458e+02|

In [18]:

rain_check <- df_clean %>%
  summarise(
    total_days = n(),
    dry_days = sum(rainfall == 0),
    rainy_days = sum(rainfall > 0),
    zero_inflation_pct = (dry_days / total_days) * 100
  )

rain_check %>% 
  kable()

| total_days| dry_days| rainy_days| zero_inflation_pct|
|----------:|--------:|----------:|------------------:|
|     142199|    91080|      51119|           64.05108|

# Trim the columns

In [19]:

vif_check <- lm(rainfall ~ ., data = df_clean)
check_collinearity(vif_check)

# Check for Multicollinearity

Low Correlation

            Term  VIF     VIF 95% CI adj. VIF Tolerance Tolerance 95% CI
            date 1.13 [ 1.12,  1.14]     1.06      0.88     [0.87, 0.89]
     evaporation 2.72 [ 2.69,  2.76]     1.65      0.37     [0.36, 0.37]
        sunshine 3.91 [ 3.85,  3.96]     1.98      0.26     [0.25, 0.26]
 wind_gust_speed 3.25 [ 3.20,  3.29]     1.80      0.31     [0.30, 0.31]
   wind_speed9am 2.14 [ 2.11,  2.16]     1.46      0.47     [0.46, 0.47]
   wind_speed3pm 2.47 [ 2.44,  2.50]     1.57      0.41     [0.40, 0.41]
     humidity9am 4.92 [ 4.85,  5.00]     2.22      0.20     [0.20, 0.21]
        cloud9am 2.47 [ 2.44,  2.50]     1.57      0.40     [0.40, 0.41]
        cloud3pm 2.38 [ 2.35,  2.41]     1.54      0.42     [0.41, 0.43]
      rain_today 1.45 [ 1.44,  1.47]     1.21      0.69     [0.68, 0.70]
   rain_tomorrow 1.60 [ 1.59,  1.62]     1.27      0.62     [0.62, 0.63]
           month 4.90 [ 4.83,  4.98]     1.07      0.20     [0.20, 0.21]
             day 1.02 [ 1.01,  1.03]     1.00      0.98     [0.97, 0.99]

Moderate Correlation

        Term  VIF     VIF 95% CI adj. VIF Tolerance Tolerance 95% CI
 wind_dir9am 9.23 [ 9.09,  9.38]     3.04      0.11     [0.11, 0.11]
 humidity3pm 7.83 [ 7.71,  7.95]     2.80      0.13     [0.13, 0.13]

High Correlation

          Term   VIF     VIF 95% CI adj. VIF Tolerance Tolerance 95% CI
      location 92.77 [91.26, 94.30]     9.63      0.01     [0.01, 0.01]
      min_temp 14.44 [14.22, 14.68]     3.80      0.07     [0.07, 0.07]
      max_temp 50.55 [49.73, 51.38]     7.11      0.02     [0.02, 0.02]
 wind_gust_dir 27.63 [27.19, 28.08]     5.26      0.04     [0.04, 0.04]
   wind_dir3pm 22.96 [22.59, 23.33]     4.79      0.04     [0.04, 0.04]
   pressure9am 28.85 [28.39, 29.32]     5.37      0.03     [0.03, 0.04]
   pressure3pm 28.15 [27.69, 28.60]     5.31      0.04     [0.03, 0.04]
       temp9am 32.08 [31.56, 32.60]     5.66      0.03     [0.03, 0.03]
       temp3pm 59.42 [58.45, 60.40]     7.71      0.02     [0.02, 0.02]

In [ ]:
df_clean <- df_clean %>% 
  select(-c(min_temp, temp9am, temp3pm, pressure9am, wind_dir3pm,
            wind_dir9am, location, date, rain_tomorrow,
            sunshine, evaporation, cloud3pm, cloud9am))

In [22]:

m1_zigamma <- glmmTMB(
  rainfall ~ max_temp + wind_gust_speed + humidity3pm + pressure3pm + rain_today + month,
  ziformula = ~ humidity3pm + pressure3pm + month, 
  data = df_clean,
  family = ziGamma(link = "log")
)

summary(m1_zigamma)

 Family: Gamma  ( log )
Formula:
rainfall ~ max_temp + wind_gust_speed + humidity3pm + pressure3pm +
    rain_today + month
Zero inflation:            ~humidity3pm + pressure3pm + month
Data: df_clean

      AIC       BIC    logLik -2*log(L)  df.resid
 308357.1  308667.5 -154146.5  308293.1    120851


Dispersion estimate for Gamma family (sigma^2): 0.707

Conditional model:
                  Estimate Std. Error z value Pr(>|z|)
(Intercept)      8.8120567  0.6621234    13.3  < 2e-16 ***
max_temp         0.0192311  0.0010079    19.1  < 2e-16 ***
wind_gust_speed  0.0084532  0.0003088    27.4  < 2e-16 ***
humidity3pm      0.0128827  0.0002545    50.6  < 2e-16 ***
pressure3pm     -0.0108645  0.0006401   -17.0  < 2e-16 ***
rain_todayYes    2.8902092  0.0091246   316.8  < 2e-16 ***
month2           0.0700942  0.0221127     3.2  0.00153 **
month3           0.0023127  0.0205786     0.1  0.91052
month4          -0.0523097  0.0217401    -2.4  0.01612 *
month5          -0.1016469  0.0218276    -4.7 3.21e-06 ***
month6          -0.0271930  0.0222883    -1.2  0.22244
month7          -0.1229789  0.0228677    -5.4 7.54e-08 ***
month8          -0.1117116  0.0229731    -4.9 1.16e-06 ***
month9          -0.1226371  0.0227049    -5.4 6.61e-08 ***
month10         -0.1254340  0.0226375    -5.5 3.01e-08 ***
month11         -0.0568225  0.0216753    -2.6  0.00875 **
month12         -0.0618408  0.0216564    -2.9  0.00430 **
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Zero-inflation model:
              Estimate Std. Error z value Pr(>|z|)
(Intercept) -2.177e+01  1.042e+00  -20.89  < 2e-16 ***
humidity3pm -5.298e-02  3.932e-04 -134.76  < 2e-16 ***
pressure3pm  2.512e-02  1.031e-03   24.37  < 2e-16 ***
month2      -8.555e-02  3.534e-02   -2.42   0.0155 *
month3      -2.613e-01  3.308e-02   -7.90 2.77e-15 ***
month4      -3.103e-01  3.429e-02   -9.05  < 2e-16 ***
month5      -3.013e-01  3.320e-02   -9.07  < 2e-16 ***
month6      -3.254e-01  3.359e-02   -9.69  < 2e-16 ***
month7      -4.785e-01  3.384e-02  -14.14  < 2e-16 ***
month8      -5.054e-01  3.371e-02  -14.99  < 2e-16 ***
month9      -4.402e-01  3.389e-02  -12.99  < 2e-16 ***
month10     -3.167e-01  3.422e-02   -9.25  < 2e-16 ***
month11     -2.505e-01  3.422e-02   -7.32 2.48e-13 ***
month12     -2.398e-01  3.471e-02   -6.91 4.86e-12 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

In [ ]:
# Generate and visualize predictions

In [ ]:
# use tweedie glmmTMB instead of the hurdle zigamma

In [ ]:
# Use GAM with tweedie to capture non linear relationships

In [ ]:
# Statistical model comparison (AIC x BIC)

In [ ]:
# Diagnose the GAM using Dharma

In [ ]:
# Bayesian Inference?